<script type="text/javascript">
  var meetingToken =  "<%= @meeting.token %>";
  var userToken = <%= current_user ? "\"".html_safe+current_user.token+"\"".html_safe : "null" %>;
  var userName = <%= current_user ? "\"".html_safe+current_user.username+"\"".html_safe : "null" %>;
  
  function chatDivScrollDown()
  {
    (function(){
      window.setTimeout(arguments.callee, 50);
      document.getElementById('chatDiv').scrollTop = document.getElementById('chatDiv').scrollHeight;
      return;
    })();
  }
</script>

<h2><%= @meeting.title %></h2>

<div class="container">
	<div class="row">
		<div class="span8" id="streams">
			<div class="video-container my-video-container" id="my-video-container">
			  <video autoplay="autoplay" id="my-stream" class="stream my-stream" muted="muted"/>
		  </div>
		  <div class="video-container remote-video-container" id="remote-video-container-tmp">
        <div class="video-overlay remote-video-overlay">
          <div class="btn-group btn-group-vertical">
            <a class="btn" data-toggle="button" onClick="EventBroker.fire('rtc.user.mute.locally',$(this).parents('.video-container').attr('id'), !$(this).parents('.video-container').find('video').prop('muted'))">Mute</a>
            <% if @is_organizer %>
            <a class="btn" data-toggle="button" onClick="EventBroker.fire('rtc.user.mute.for.all',$(this).parents('.video-container').attr('id'), !$(this).parents('.video-container').find('video').prop('muted'))">Mute for all</a>
            <a class="btn btn-danger" onClick="EventBroker.fire('rtc.user.kick',$(this).parents('.video-container').attr('id'))">Kick</a>
            <%end%>
          </div>
        </div>
        <video autoplay="autoplay" class="stream remote-stream"/>
      </div>
		</div>

		<!--chat box start-->
		<div class="span3 offset1" style="border:0px;border-color:#000000;border-style:solid">
			<div class="accordion" id="controlBox" style="margin:0px;padding:0px">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#controlBox" href="#chat"> Chat </a>
					</div>
					<div id="chat" class="accordion-body collapse" style="height: 0px; ">
						<div class="accordion-inner">
						<div id="chatDiv" style="height:200px;padding-bottom: 10px;">
							
						</div>
						<br class="bar-info" />
						<select id ="user-list" class="to-chat">
							<option class=""> EveryOne </option>
							<option class=""> two </option>
						</select>
						<input type="text" class="" id="message"/>
						<button id="send" class="btn btn-primary hide" onclick="chatDivScrollDown()">
							Send
						</button>
						</div>
					</div>
				</div>
      </div>    

      <div class="accordion" id="control-participant-list" style="margin:0px;padding:0px">
  			<div class="accordion-group">
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#control-participant-list" href="#participant-list"> Participants</a>
  				</div>
  				<div id="participant-list" class="accordion-body collapse in">
  					<div class="accordion-inner">
    					<div class="participant-list-user me">
    						<i class="icon-volume-up"></i> <span class="user-name">Me <%= current_user ? "(" + current_user.username + ")" : "" %></span><i class="icon-volume-off hide"></i>
    					</div>
    					<div class="participant-list-user hide">
                <i class="icon-volume-up"></i> <span class="user-name"></span>
              </div>
  					</div>
  				</div>
  			</div>
			</div>
		</div>
	</div>
</div>

<% if @meeting.id == -1 %>
<div class="input-append">
	<b>Notify via e-mail:</b>
	<%= form_tag notify_url(@meeting), :method => :post do %>
		<%= hidden_field(:meeting, :token)%>
		<%= text_field(:email, :recipients, :class => 'span2') %>
		<%= submit_tag "Invite others", :class => 'btn' %>
	<% end %>
</div><br />
<% end %>
<%= link_to 'Back', meetings_path, :class => 'btn' %>



